In [20]:
#catalogs


S={1010,'1010',78.9}
print(type(S))
print(len(S))
print(S)
T={1010,'1010',12.3,1010,1010}
print(T)
print(S-T)         #factors in S but not in T
print(S&T)        #mutual factors in S and T
print(S^T)        #except the mutual factors,all the rest
print(S|T)        #All factors in S and T

<class 'set'>
3
{'1010', 1010, 78.9}
{'1010', 1010, 12.3}
{78.9}
{'1010', 1010}
{12.3, 78.9}
{'1010', 1010, 12.3, 78.9}

In [21]:
#line


t=(1,2,3)
print(type(t))
1 in t

<class 'tuple'>

True

In [11]:
#line


t=(1,2,3)
type(t)
'1'not in t

True

In [15]:
#line


t=(1,2,3)

print(type(t))
print(t*2)
print(t[1])
print(t[:2])
t[: :2]
print(min(t))
print(max(t))
print(t.index(2))          #the loaction of the first 2 in t
print(t.count(1))          #the total amount of 1 in t

<class 'tuple'>
(1, 2, 3, 1, 2, 3)
2
(1, 2)
1
3
1
1

In [12]:
#line


t=(1,2,3)
s=(4,5,6)
t+s

(1, 2, 3, 4, 5, 6)

In [17]:
for c in(1,2,3):
    print(c,end="and")

1and2and3and

In [18]:
def f(x):
    return x, x+1,x+3
f(1)

(1, 2, 4)